<h1>Результат поиска</h1>

<% if @error %>
    <p><%= @error %></p>
<% else %>

<div>Вы ввели: <%= @input.join(' ') %></div>

<table class="answer">
    <thead>
        <tr>
            <td></td>
            <td>Последовательность</td>
        </tr>
    </thead>
    <tbody>
        <% @result.filter { |arr| arr.count > 1 }.each.with_index(1) do |subseq, ind| %>
            <tr>
                <td class="number"><%= ind %></td>
                <td><%= subseq.join(' ') %></td></tr>
        <% end %>
    <tbody>
</table>
<% end %>
<br>
<%= link_to 'Домой', root_path %>